@import "tailwindcss";

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
  }
}

body {
  background-color: #090e17;
  color: #f8fafc;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
